.container {
    display:flex ;
    flex-direction:column ;
}
.column {
    display:flex ;
    width:100% ;
    flex-direction:row ;
}
.column img {
    margin-top: 8px;
    width: 20%;
}
@media screen and (max-width:800px ){
    .column{
        flex:50% ;
    }
}
@media screen  and (max-width:500px ){
    .column{
        flex:100% ;
    }
}